---
---
:root {
    --bs-dark: #212529;
    --bs-primary-rgb: 255,0,0;
    font-size: 0.8rem;
}

.navbar {
    --bs-navbar-brand-font-size: 1.25em;
}

.ft-brand {
    //font-family: "Alegreya Sans SC";
    //font-family: "Permanent Marker";
    font-family: "Mansalva";
}

.ft-default {
    font-family: "Montserrat";
}

.fw-h1 {
    font-weight: 900;
}

.fw-h2 {
    font-weight: 700;
}

.fw-h3 {
    font-weight: 700;
}

.fs-h1 {
    font-size: 1.7em;
}

.fs-h2 {
    font-size: 1.5em;
}

.fs-h3 {
    font-size: 1.2em;
}

.cp-d {
    padding-bottom: 1em;
}

.mt-n3 {
    //margin-top: -3.5rem;
    margin-top: -5em;
}

.mt-n6 {
    margin-top: -12em;
}

.bg-overlay-gradient-bottom-dark {
    background: linear-gradient(to bottom, transparent, var(--bs-dark));
}

.bg-image-default {
    background-size: cover;
    background-position: center;
}

.image-default {
    object-fit: cover;
}

.hero-3 {
    min-height: 45em;
    object-fit: cover;
}

h1 {
    @extend .fs-h1;
    @extend .fw-h1;
}

h2 {
    @extend .fs-h2;
    @extend .fw-h2;
}

h3 {
    @extend .fs-h3;
    @extend .fw-h3;
}

[data-highlight]::before{
    content: attr(data-highlight);
    display: block;
    text-transform: uppercase;
    font-size: 0.5em;
    opacity: 0.5;
}

body {
    @extend .ft-default;
    //font-size: 1rem;
}

.navbar-brand {
    @extend .ft-brand;
    letter-spacing: 0.1em;
    text-shadow: 0 0 1em black;
}

.navbar-brand::after{
    content: "\00AE";
    //vertical-align: 17%;
    //font-size: 0.8em;
    //margin-left: 0.2em;
}

.content {
    //font-size: 1rem;

    p, ul, ol {
        @extend .cp-d;
    }
}

